<?xml version="1.0"?>
<configuration>
<!--  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="utilityTrace"
             type="System.Diagnostics.TextWriterTraceListener"
             initializeData="C:\Labs\eBay\Utility\process.log">
        </add>
      </listeners>
    </trace>
  </system.diagnostics> -->
  <appSettings>
    <add key="Environment.ApiServerUrl" value="https://api.sandbox.ebay.com/wsapi"/>
    <add key="UserAccount.ApiToken_Seller" value="AgAAAA**AQAAAA**aAAAAA**LHUeUA**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wFk4GhCZKCoA+dj6x9nY+seQ**s+IBAA**AAMAAA**/4rubapkY/Ezs4yvtvUK6Vqv/0BnewOfMoMyddn8IhS0tTwqdolm2p0EWhUWi5KF+LVo3xO+yC0wuqSGB+VmX75y1HPlhqU+nLQl264tHOu4cS5oI1vLsf6SUVdJ1QM+Sj1H58q06/je5SkbNQIsBNEoKNuy+tiu7MP+Ox7pyj23cgewyeb0MU1uinKkxJI2a5zEIKjb65Ay47WV2shKhZ/AO4SevksI3+SxBLNvQHPS5PbyYOvuQzCqEWWiD/fTcdigI+dfsuBpz/2hrMR8Irl8ZS3JsBMHvopnkEte3ZFQXh4Tlg5SumDEFMYdJldHOS5VQMhD9wjI4mZpc01/1/p+aavpbl4lKthCy4cL+7tm/YGT7PKNGZPOcHxHZfo0CmEPg5nqxe7ZdSIMRUPEc/UWPIEsHdzGZHtj0zsvDFVCUDvqFdkIBsGMDTrktU3jUDRijfQx8ttTkudMd6bdbXBL4kpxnpsboOMrr/374GvJxs0XCf0zWbqM2coNWXUHsehvSoKHSDtPoEYpmfX+ade1a/RLwxyV6lNmDvhNkBClo8VNVYiVc0Ne5Axf2ZCP6yGCt+MDRzVxpvERa7Dy0FcQlXUj+RqGuzTbAlz/q0RByy9GKafefYOg7TJkxQ7v6FlpvLcM2CqB/F9rNARvCwKrRKn6XDd4eg9eMBxD7ZytjNflRLi/r/yIA8mohU7L/aYisaxXzFQrppCTqG2XRAJMRFp3h7lCWhI85XngYHFGyLofmTq7tcjGh11gaBOh"/>
    <add key="UserAccount.ApiToken_Buyer" value="AgAAAA**AQAAAA**aAAAAA**iC9LUA**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wFk4GhCZKDoQ2dj6x9nY+seQ**s+IBAA**AAMAAA**XxFOoDyDvvu8bthR4MceK7Dyz/q7Wc4FAdZQznFjb3Z9JiKij4gMnJyLRWUBFIqKxSxjf+6b8E/9xQpIiesP/ERYG8zrYhbFoD9q7++YYFfiXnyr18//EgIJEr8z2lBAWKualZzgMqeBQJruIGbdE7IrTvoFnOOMNUWfBI6nV+B/ix0thWpSTZUwanuPolkDFYu4KxA56EgLlatKTyvsupLzjyw0dc8thNCx0qF0vbKODtocXflQeJNmdOhuNbRBSmVIe7x9J9aOMzfBfyMG8Sjl+NZLChAEYdAkXxY+lWtrMCIskM7Rj150rvRNlqidATQI+SobkCrh1EJpnxSdgKQia1xbU9o3QygKc6+ys9uO8RzKojTqK35qOV/iQGi+VtEJh5WF9fqAmWfGEQPCslJPR6y7hNu3satuAuRVsqqhf41KLwtWCtQyEw71+mgC2uksrOgZlUjVxneUizrPuDJ1TUPvylu7EbDUCTb+2SMKjI49qk/u+Jl1I5Au+j7ZerRw+VeRc0uqKkY/AOPCO1braYrjuGso5A71wVnvslCmZVbV0hvAJigWjjtBHvMeo7oHs8eSbEiu7w+1lW9laDUVIIkAUFJgfkJ4ny63tuH1GrPf3r//XO5OpBa+AUyQLAkNnzQP8q7+5PeAK4TmVuDwpUyVKgqTdK/5drb0SxszjiiNeTSaIPGQPkdC7yrdVJfRXjG9Vgj0dOoOEte8WOgteXCVzd/7ep/a9JoPpQoWF802urux7cIS+QnermoP"/>
    <add key="RuName" value="V-Technologies-V-Techno-911c-4-hayyyhdb"/>
    <add key="DevID" value="fcc3b5de-ceb8-442b-ad1b-9ab645d6f89a"/>
    <add key="AppID" value="V-Techno-911c-4385-abdb-52dc82d52430"/>
    <add key="CertID" value="a9af6053-3543-4247-9401-085f1432922e"/>
    <add key="eBayLogger" value="F:\Labs\eBay\Utility\Process.log"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
