<?xml version="1.0"?>
<configuration>
<!--  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="utilityTrace"
             type="System.Diagnostics.TextWriterTraceListener"
             initializeData="C:\Labs\eBay\Utility\process.log">
        </add>
      </listeners>
    </trace>
  </system.diagnostics> -->
  <appSettings>
    <add key="Environment.ApiServerUrl" value="https://api.sandbox.ebay.com/wsapi"/>
    <add key="UserAccount.ApiToken_Seller" value=""/>
    <add key="UserAccount.ApiToken_Buyer" value=""/>
    <add key="RuName" value=""/>
    <add key="DevID" value=""/>
    <add key="AppID" value=""/>
    <add key="CertID" value=""/>
    <add key="eBayLogger" value="F:\Labs\eBay\Utility\Process.log"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
