<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="consumerKey" value="6rfmm6p2zuga5c9c69xxe9rz"/>
    <add key="sharedSecret" value="AcvCm94R2A"/>
  </appSettings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
