<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RegMaster.Data.Properties.Settings.RegMasterConnectionString"
            connectionString="Data Source=TOWER\SQLEXPRESS;Initial Catalog=RegMaster;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>