<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="consumerKey" value="6rfmm6p2zuga5c9c69xxe9rz"/>
    <add key="netflixUrl" value="http://api.netflix.com/oauth/request_token"/>
    <add key="netFlixLoginUrl" value="https://api-user.netflix.com/oauth/login"/>
    <add key="sharedSecret" value="AcvCm94R2A"/>
    <add key="OAuthCallback" value="http://developer.netflix.com/walkthrough#bottom"/>
    <add key="netFlixAccessToken" value="http://api.netflix.com/oauth/access_token"/>
    <add key="netFlixUsersCall" value="http://api.netflix.com/users/"/>
    <add key="netFlixCallApi" value="http://api.netflix.com"/>
  </appSettings>
</configuration>