<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISecurityConsole" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/ConsoleApplication/SecurityConsole/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISecurityConsole"
                contract="ServiceConsole.ISecurityConsole" name="BasicHttpBinding_ISecurityConsole" />
        </client>
    </system.serviceModel>
</configuration>