<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging"
              switchValue="Information">
        <listeners>
          <add name="log" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Traces.svcLog" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true">
      <listeners>
        <add name="console" type="System.Diagnostics.TextWriterTraceListener" initializeData="Traces.Console.log"
             traceOutputOptions="DateTime, Timestamp">
        </add>
        <remove name="Default" />
      </listeners>
    </trace>
    <switches>
      <add name="consoleSwitch" value="Information"/>
    </switches>
  </system.diagnostics>  
  <system.serviceModel>
      <diagnostics>
        <messageLogging logMalformedMessages="true" logEntireMessage="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" >
        </messageLogging>
      </diagnostics>
      <bindings>
        <basicHttpBinding>
          <binding name="Binding1" textEncoding="utf-8" messageEncoding="Text" />
        </basicHttpBinding>
      </bindings>
      <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
          <services>
            <service name="ConsoleApplication.SecurityConsole">
                <endpoint address="" binding="basicHttpBinding" contract="ConsoleApplication.ISecurityConsole"
                          bindingConfiguration="Binding1">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>

                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/ConsoleApplication/SecurityConsole/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
